body{
	padding: 100px;
  	background: #eee;
}
.wrap{
	text-align: center;
  	vertical-align: middle;
  	margin-bottom: 100px;
  	background: white;
  	padding-bottom: 100px;
  	box-shadow: 0px 40px 60px -20px rgba(0,0,0,0.2);
}
h1{
	padding: 50px;
}
.spinner{
	width: 100px;
  	height: 100px;
  	background: #eee;
  	border-radius: 50%;
  	position: relative;
  	margin: 50px;
  	display: inline-block;
}
.spinner:after,.spinner:before{
	content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.spinner-1:after{
	position: absolute;
  	top: -4px;
  	left: -4px;
  	border: 4px solid transparent;
  	border-top-color: orangered;
  	border-bottom-color: orangered;
  	animation: spinny 1s linear infinite;
}
@keyframes spinny{
	0%{
		transform: rotate(0deg) scale(1);
	}
  	50%{
  		transform: rotate(45deg) scale(1.2);
  	}
  	100%{
  		transform: rotate(360deg) scale(1);
  	}
}
.spinner-2{
	animation: spin 2s linear infinite;
}
.spinner-2:before , .spinner-2:after{
	height: 20px;
    width: 20px;
    background: orangered;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    animation: bouncy 1s ease-in infinite;
}
.spinner-2:after{
	top: auto;
    bottom: -10px;
    animation: bouncy 0.5s ease-in infinite;
}
@keyframes bouncy{
	0%, 100%{
		transform: translateY(0px);
	}
  	50%{
  		transform: translateY(30px);
  	}
}
@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
  	100%{
  		transform: rotate(360deg);
  	}
}
.spinner-3{
	background: none;
  	border: 4px solid #eee;
}
.spinner-3:after{
	width: 4px;
    height: 66px;
    background: orangered;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    transform-origin: top center;
    animation: spin 2s linear infinite;
}
  
.spinner-4:before, .spinner-4:after{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background: orangered;
    animation: pulse 3s linear infinite;
    opacity: 0;
}
.spinner-4::after{
	animation: pulse 2s linear 2.3s infinite;
}
@keyframes pulse{
	0%{
		transform: scale(0);
    		opacity: 1;
	}
  	100%{
  		transform: scale(1.3);
    		opacity: 0;
  	}
}
.spinner-5{
	height: 0px;
  	width: 0px;
}
.spinner-5 span{
	display: block;
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}
.spinner-5 span:nth-child(1){
	left: -40px;
    animation: bounce 1s ease-in-out infinite;
}
.spinner-5 span:nth-child(2){
	animation: bounce 1s ease-in-out 0.33s infinite;
}
.spinner-5 span:nth-child(3){
	left: 40px;
  	animation: bounce 1s ease-in-out 0.66s infinite;
}    
  
@keyframes bounce{
	0%, 75%, 100%{
		transform: translateY(0px);
	}
  	25%{
  		transform: translateY(-30px);
  	}
}
.track{
	width: 300px;
  	height: 0px;
  	border-top: 8px dotted #DDD;
  	display: inline-block;
}
.kurt{
	animation: moveChomp 3s linear infinite;
  	background: pink;
  	width: 0px;
  	height: 0px;
  	position: relative;
  	top: -15px;
}
.loader{
  background: none;
  display: inline-block;
  position: relative	;
}
.loader:before, .loader:after{
    content: '';
    display: block;
    height: 0px;
    width: 0px;
    border: 30px solid orangered;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -34px;
    animation: topchomp 1s ease-in-out infinite reverse;
}
.loader:after{
    border-color: orangered;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: bottomchomp 1s ease-in-out infinite;	
}
@keyframes bottomchomp{
	0%, 100%{
		transform: rotate(10deg);
	}
  	50%{
  		transform: rotate(-50deg);	
  	}
}
@keyframes topchomp{
  0%, 100%{
  	transform: rotate(-20deg);
  }
  50%{
  	transform: rotate(37deg);	
  }
}
@keyframes moveChomp{
  0%, 100%{
  	 left: 0%;
  }
  50%{
  	 left: 100%;
  }
  0%, 49%{
  	 transform: rotateY(0deg);
  }
  50%, 100%{
  	 transform: rotateY(180deg);	
  }
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  